@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');

.heading {
  padding-top: 3rem;
}

.main {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  /* min-height: 92vh; */
  min-height: 100vh;
  /* background-image: url("/clear.jpeg");
  background-size: cover; */
  background-color: white;

  font-family: 'Sofia Sans';
}

.location {
  padding-top: 1em;
  padding-bottom: 1em;
}
.input {
  width: 20em;
  padding: 12px 20px;
  /* margin: 8px 0; */
  box-sizing: border-box;
  border-radius: 1em;
  border-color: bisque;
}

/* .cont {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 250px;
  border-radius: 10px;
  background-color:#C5C5C5;

  padding: 1em;

} */

.info {
  padding-top: 1em;
  padding-left: 1em;
}

.cityName {
  font-size: 1.5rem;
}

.nameBox {
  padding-left: 1em;
}

.outer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;

}

.row {
  width: 50%;
  flex: 0 0 calc(50% - 4em);
  border-radius: 10px;
  background-color:#C5C5C5;
  margin: 1em;
  padding: 1em;
  
  opacity: 0.8;
}

/*New Style*/
.header {
  width: 100%;
  height: 50%;
  background: rgba(28, 90, 144, 0.6);

  display: flex;
  align-items: center;
}
.headerImg {
  width: 14%;
  height: auto;
  margin: 1em;
  border-radius: 1em;
}
.mainInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.countryInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0.5em;
  width: 30%;
  border-radius: 0.5em;

  background: rgba(255, 255, 255, 0.8);

  margin-bottom: 1em;
}
.weatherInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 5%;
  
  width: 50%;
  border-radius: 1em;

  background: rgba(255, 255, 255, 0.8);
}
.mainWeather {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.mainWeather1 {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.restCont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 5%;
  
  width: 50%;
  border-radius: 1em;

  background: rgba(255, 255, 255, 0.8);

  margin-top: 1em;
}
.restInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imgIcon {
  width: 30%;
  height: auto;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0.5em;
  width: 80%;
  border-radius: 0.5em;

  background: rgba(255, 255, 255, 0.8);

  margin-bottom: 1em;
  margin-top: 2em;
}