.heading {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  padding-top: 3rem;
}

.main {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  /* min-height: 92vh; */
  min-height: 100vh;
  /* background-image: url("/clear.jpeg");
  background-size: cover; */
  background-color: white;
}

.location {
  padding-top: 1em;
  padding-bottom: 1em;
}
.input {
  width: 100%;
  padding: 12px 20px;
  /* margin: 8px 0; */
  box-sizing: border-box;
  border-radius: 1em;
  border-color: bisque;
}

.cont {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 250px;
  /* border: 2px solid black; */
  border-radius: 10px;
  background-color:#C5C5C5;

  padding: 1em;

  /* box-shadow: 3px 3px; */

}

.info {
  padding-top: 1em;
  padding-left: 1em;
}

.cityName {
  font-size: 1.5rem;
}

.nameBox {
  padding-left: 1em;
}

.outer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;

}

.row {
  width: 50%;
  flex: 0 0 calc(50% - 4em);
  border-radius: 10px;
  background-color:#C5C5C5;
  margin: 1em;
  padding: 1em;
  opacity: 0.7;
}

/*New Style*/
.mainInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.countryInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0.5em;
  width: 30%;
  border-radius: 0.5em;

  background-color: white;

  margin-bottom: 1em;
}
.weatherInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 5%;
  
  width: 50%;
  border-radius: 1em;

  background-color: white;
}
.mainWeather {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.restCont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 5%;
  
  width: 50%;
  border-radius: 1em;

  background-color: white;

  margin-top: 1em;
}
.restInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imgIcon {
  width: 30%;
  height: auto;
}